@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Azeret Mono", monospace;    
    /* font-family: sans-serif; */
    width: 1583px;
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.6rem;    
    color: rgba(13, 19, 33, 0.8);
}

a {
    font-size: 2rem;
}

/* ################################## header ############################### */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 16rem;
}

header nav h1 {
    font-size: 2.8rem;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

header nav button {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1.7rem 2.4rem;
    background-color: white;
}

header .banner {
    border-top: 2px dashed rgba(128, 128, 128, 0.4);
    border-bottom: 2px dashed rgba(128, 128, 128, 0.4);
    background-image: url("./assets/Hero-bg.png");
    text-align: center;
}

header .banner div {
    width: 78%;
    margin: auto;
}

header .banner h1 {
    font-size: 4.8rem;
}

header .banner img {
    width: 25%;
}

header .banner p {
    font-size: 1.6rem;
}

header .banner a {
    text-decoration: none;
    color: white;
}

header .banner button {
    border-radius: 5px;
    padding: 2.1rem 2.4rem;
    background-color: black;
}

header .banner * {
    margin: 2.5rem 0;
}

/* ######################## motivation container ############################ */

main {
    width: 90%;
    margin: auto;
}

.motivation-container {
    margin: 10rem auto;
    border-radius: 1rem;
    padding: 8rem;
    background-color: rgba(13, 19, 33, 0.02);
}

.motivation-container>div {
    border-radius: .5rem;
}

.motivation-container header {
    text-align: center;
}

.motivation-container header * {
    margin: 2.4rem 0;
}

.items-container .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), transparent);
}

.items-container .item.second {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.9),  transparent);
}

.items-container .item > div {
    width: 60%;
}

.items-container .item > img {
    width: 25%;
}

.items-container .item > * {
    margin: 4.5rem;
}

.items-container .item h2 {
    color: rgba(13, 19, 33, 0.7);
}

.items-container .item a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.items-container .item button {
    padding: 1.2rem 2rem;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
}

.items-container .item div > * {
    margin: 1.5rem 0;
}

/* ###################### inspiration section ######################### */

.inspiration-container {
    margin: 10rem auto;
}

.inspiration-container .inspiration-details {
    width: 85%;
    margin: auto;
    text-align: center;
}

.inspiration-container .inspiration-details > * {
    margin: 2rem;
}

.inspiration-container .inspiration-details h1:first-child {
    font-family: sans-serif;
    font-weight: 900;
}

.inspiration-container .inspiration-video {
    border: 1px solid rgba(128, 128, 128, .5);
    width: 90%;
    margin: 5rem auto;
    border-radius: 2rem;
    overflow: hidden;
}

.inspiration-container .inspiration-video video {
    width: 92%;
    display: inline-block;
    margin: 5rem;
    border-radius: 2rem;
}

/* ####################### current target section ##################### */

.current-target {
    margin: 10rem auto;
}

.current-target header {
    width: 85%;
    margin: auto;
    text-align: center;
}

.current-target header * {
    margin: 2rem 0;
}

.current-target .items {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}

.current-target .items .item {
    width: 32%;
    border-radius: 1rem;
    padding: 4rem;
}

.current-target .items .item img {
    width: 20%;
}

.current-target .items .item a {
    color: black;
    font-weight: bold;
}

.current-target .items .item * {
    margin: 2rem 0;
}

.current-target .item:nth-child(1) {
    background-color: rgba(255, 76, 30, 0.05);
}

.current-target .item:nth-child(2) {
    background-color: rgba(0, 76, 232, 0.05);
}

.current-target .item:nth-child(3) {
    background-color: rgba(255, 223, 0, 0.05);
}

/* ############################# next target ######################## */

.next-target header {
    width: 85%;
    margin: auto;
    text-align: center;
}

.next-target header * {
    margin: 2rem 0;
}

.next-target .item {
    border: 1px groove rgba(128, 128, 128, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next-target .item img {
    width: 10%;
    object-fit: contain;
}


.next-target .items .item {
    border-radius: 1rem;
    padding: 4rem;
    margin: 3rem 0;
}

.next-target .items .item a {
    color: black;
    font-weight: bold;
}

.next-target .items .item div * {
    margin: 2rem;
}
