@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Azeret Mono", monospace;
    width: 1583px;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.6rem;
}

a {
    font-size: 2rem;
}

/* ################################## header ############################### */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 16rem;
}

header nav h1 {
    font-size: 2.8rem;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

header nav button {
    border-radius: 5px;
    padding: 1.7rem 2.4rem;
    background-color: white;
}

header .banner {
    border-top: 2px dashed rgba(128, 128, 128, 0.4);
    border-bottom: 2px dashed rgba(128, 128, 128, 0.4);
    background-image: url("./assets/Hero-bg.png");
    text-align: center;
}

header .banner div {
    width: 78%;
    margin: auto;
}

header .banner h1 {
    font-size: 4.8rem;
}

header .banner img {
    width: 25%;
}

header .banner p {
    font-size: 1.6rem;
}

header .banner a {
    text-decoration: none;
    color: white;
}

header .banner button {
    border-radius: 5px;
    padding: 2.1rem 2.4rem;
    background-color: black;
}

header .banner * {
    margin: 2.5rem 0;
}

/* ######################## motivation container ############################ */

.motivation-container {
    width: 90%;
    margin: 10rem auto;
    border-radius: 1rem;
    padding: 10rem;
    background-color: rgba(13, 19, 33, 0.02);
}

.motivation-container>div {
    border-radius: .5rem;
}

.motivation-container header {
    text-align: center;
}

.motivation-container header * {
    margin: 2.4rem 0;
}

.items-container .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), transparent);
}

.items-container .item.second {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.9),  transparent);
}

.items-container .item > div {
    width: 60%;
}

.items-container .item > img {
    width: 25%;
}

.items-container .item > * {
    margin: 5rem;
}

.items-container .item a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.items-container .item button {
    padding: 1.2rem 2rem;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
}

.items-container .item div > * {
    margin: 1.5rem 0;
}
